In [1]:
import pandas as pd
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import time

Windows Chrome Driver

In [2]:
def init_browser():
    executable_path = {"executable_path": "C:/Users/MatthewS/Desktop/chromedriver_win32/chromedriver.exe"}
    return Browser("chrome", **executable_path, headless=False)

Nasa Mars News

In [3]:
url = 'https://mars.nasa.gov/news/'
#Use requests module to retrieve the webpage
response = requests.get(url)

#Create BeautifulSoup object
soup = BeautifulSoup(response.text, 'html.parser')

In [4]:
#Retrieve article title and preview paragraph
news_title = soup.find('div', class_="content_title").find('a').text
news_p = soup.find('div', class_="rollover_description_inner").text

print(news_title)
print(news_p)

Alabama High School Student Names NASA's Mars Helicopter


Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.

JPL Mars - Featured Image

In [5]:
# Run init_browser/driver.
browser = init_browser()

# Visit the url for JPL Featured Space Image.
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'
browser.visit(jpl_url)
time.sleep(2)

browser.is_element_present_by_text("more info", wait_time=1)

# HTML Object.
html = browser.html

# Parse HTML with Beautiful Soup
image_soup = BeautifulSoup(html, "html.parser")

# Scrape image URL.
image_url = image_soup.find("figure", class_="lede")

# Concatentate https://www.jpl.nasa.gov with image_url.
featured_image_url = jpl_url

# Exit Browser.
browser.quit()

In [6]:
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg

Mars Weather

In [7]:
# Run init_browser/driver.
browser = init_browser()

# Visit the url for Mars Weather twitter account.
weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)

#HTML Object
html = browser.html

#Parse HTML object with BeautifulSoup
soup = BeautifulSoup(html, "html.parser")

#Retrieve all elements with tweet information 
weather_tweets = soup.find_all('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')

for tweet in weather_tweets:
    
    #Assign tweet info to variable
    mars_weather = tweet.text
    
    # If tweet contains words sol and pressure, print the tweet
    if "sol" and "pressure" in mars_weather:
        print(mars_weather)
        break
    else:
        pass

Mars Facts

In [8]:
url = 'https://space-facts.com/mars/'
#Scrape table data from Mars webpage
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [9]:
#Index the first dataframe object
df = tables[0]

#Set column names
df.columns = ['Description','Value']

#Set Description column as the index
df.set_index('Description', inplace=True)
df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [10]:
#Convert table into HTML table
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [11]:
#Remove unwanted new lines
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

Mars Hemishperes

In [12]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
#Open webpage using splinter
browser.visit(url)

#HTML object
html = browser.html

#Parse HTML object with BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')
print(soup.prettify())

<html>
 <head>
 </head>
 <body>
  search?t=product&amp;i=10&amp;o=%40astro%3Asearch_rank&amp;d=1&amp;q=hemisphere-enhanced&amp;k1=target&amp;v1=Mars
  <pre class="debug"></pre>
 </body>
</html>

In [13]:
#Create list for image urls
hemisphere_image_urls = []

#Extract base url from webpage url
base_url= (url.split('/search'))[0]


#Retrieve all items with hemisphere info
hemispheres = soup.find_all('div', class_='description')

for hemisphere in hemispheres:
    
    #Create an empty dictionary
    hemisphere_info = {}
    
    #Retrieve hemisphere title
    hem_title = hemisphere.find('h3').text
    
    #Add only hemisphere title into dictionary by splitting text 
    hemisphere_info['title'] = hem_title.split(' Enhanced')[0]
    
    #Retrieve route to detailed hemisphere webpage
    hem_route = hemisphere.find('a', class_='itemLink product-item')['href']
    
    #Concatenate base url with route
    hemisphere_link = base_url + hem_route
    
    #Open new url with splinter
    browser.visit(hemisphere_link)
    
    #HTML object
    html = browser.html
    
    #Parse HTML object with BeautifulSoup
    soup = BeautifulSoup(html, 'html.parser')
    
    #Retrieve route to full resolution image
    image_url = soup.find('div', class_='downloads').find('ul').find('li').find('a')['href']
    
    #Add image url into dictionary
    hemisphere_info['img_url'] = image_url
    
    #Append dictionary to list
    hemisphere_image_urls.append(hemisphere_info)

In [14]:
hemisphere_image_urls

[]